Build/TestResult.xml
Source/DBTM.Application/obj/
Source/DBTM.Cmd/obj/
obj/
bin/
Source/build/
Source/testsOutput/
*.suo
Source/DBTM.Application/obj/Debug/DBTM.Application.csproj.FileListAbsolute.txt
